* {
    margin: 0;
    font-family: Arial;
    border:border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(20, 19, 19);
}

.smain {
    border: 2px solid gray;
    width: 280px;
    background-color: rgb(45, 45, 45);
    border-radius: 20px;
}

.text {

    justify-content: center;
    text-align: center;
    border: none;
}

.text input {
    text-align: right;
    width: 280px;
    font-size: 30px;
    background-color: white;
    height: 100px;
    color: black;
    border-radius: 20px;
    padding-top:30px;
    

}

.green
{
    background-color: rgb(45, 45, 45);
    color:white;
    border: 2px solid grey;
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:8px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.5);
    transition:transform .2s;


}

.orange {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:8px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.5);
    transition:transform .2s;

}

.border {
    border: 2px solid grey;
    border-radius: 50%;
    background-color: rgb(45, 45, 45);
    color:white;
    width:50px;
    height:50px;
    margin:8px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.5);
    transition:transform .10s;
}

.border:hover
{
      transform: scale(1.1);
}

.orange:hover
{
      transform: scale(1.1);
      
}

.green:hover
{
      transform: scale(1.1);
      
}
/* .main {

    justify-content: center;
    text-align: center;
} */
@media(max-width:768px){


body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(20, 19, 19);
}

.smain {
    border: 2px solid gray;
    width:80%;
    background-color: rgb(45, 45, 45);
    border-radius: 20px;
}
    .text input {
    text-align: right;
    width:100%;
    font-size: 30px;
    background-color: white;
    height: 100px;
    color: black;
    border-radius: 20px;
    padding-top:30px;
/* 
    

}
   .green
{
    background-color: rgb(45, 45, 45);
    color:white;
    border: 2px solid grey;
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:12px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.5);
    transition:transform .1s;


}

.orange {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:12px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.5);
    transition:transform .1s;

}

.border {
    border: 2px solid grey;
    border-radius: 50%;
    background-color: rgb(45, 45, 45);
    color:white;
    width:50px;
    height:50px;
    margin:12px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(225, 225, 220, 0.5);
    transition:transform .1s;

} 

.border:hover
{
      transform: scale(1.2);
}

.orange:hover
{
      transform: scale(1.2);
      
}

.green:hover
{
      transform: scale(1.2);
    }
    */

}
